<h1 class="align-center">Customer Details</h1>

<div>
  <button mat-raised-button (click)="addCustomer()" color="primary"> Add Customer</button>
  <button mat-raised-button (click)="editCustomer()" color="warn" class="ml-3">Edit Customer</button>
  <br>
  <br>
  <h4>Our customer</h4>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef> CustomerId </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.customerId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <mat-header-cell *matHeaderCellDef> Middle Name </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.middleName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email" >
      <mat-header-cell *matHeaderCellDef > Email </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail" class="pr-4"> {{CustomerDetail.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef >Phone Number </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.phoneNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail"> {{CustomerDetail.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State</mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail">{{CustomerDetail.state}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zipCode">
      <mat-header-cell *matHeaderCellDef> Zip Code</mat-header-cell>
      <mat-cell *matCellDef="let CustomerDetail">{{CustomerDetail.zipCode}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
</div>
